<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Book details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Book details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Image</th>
                            <td>
                                <img th:src="@{${book.getImageUrl()}}" width="120" height="160"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <td th:text="${book.getId()}"></td>
                        </tr>
                        <tr>
                            <th>Book name</th>
                            <td th:text="${book.getBookName()}"></td>
                        </tr>
                        <tr>
                            <th>Book author</th>
                            <td>
                                <table>
                                    <tr th:each="author : ${authors}">
                                        <td>
                                            <a role="button" class="btn btn-link" th:href="@{'/authors/details/' + ${author.getKey()}}" th:text="${author.getValue()}">details</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>Book publishers</th>
                            <td>
                                <table>
                                    <tr th:each="publisher : ${publishers}">
                                        <td th:text="${publisher.getValue()}"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>Publication date</th>
                            <td th:text="${book.getPublicationDate()}"></td>
                        </tr>
                        <tr>
                            <th>Page size</th>
                            <td th:text="${book.getPageSize()}"></td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td th:text="${book.getDescription()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(book.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(book.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
