<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Citizenship</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Citizenship</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/population/add}" th:object="${person}" method="post">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select class="form-control" id="country" th:field="*{countryName}">
                                <option th:each="name : ${countryNames}"
                                        th:value="${name}"
                                        th:text="${name}">
                                </option>
                            </select>
                        <div/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
