<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/personal_details_layout}">
<head>
    <meta charset="utf-8">
    <title>Brand details</title>
</head>
<body>

<div layout:fragment="personal_details_content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header d-flex justify-content-start h3">
                    User details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <td th:text="${brand.getId()}"></td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td th:text="${brand.getName()}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
