<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/personal_details_layout}">
<head>
    <meta charset="utf-8">
    <title>Product details</title>

    <link href="/css/product.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="personal_details_content">

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img th:src="${firstImage.getUrl()}"/></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs" th:each="image : ${images}">
                            <a th:href="${image.getUrl()}" target="_blank">
                                <img th:src="${image.getUrl()}" width="150" height="150"
                                     class="img-fluid rounded-start" alt="...">
                            </a>
                        </ul>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title" th:text="${thing.getTitle()}"></h3>
                        <p class="product-description" th:text="'Description : ' + ${thing.getDescription()}"></p>
                        <p class="product-description" th:text="'Compound : ' + ${thing.getCompound()}"></p>
                        <h4 class="price">current price: <span class="priceSpan"
                                                               th:text="${thing.getStringPrice()} + ' грн.'"></span>
                        </h4>

                        <form action="#" th:action="@{'/personal/clothes/add/' + ${id}}" th:object="${product}"
                              method="post">
                            <div class="form-group">
                                <label for="color">Color :</label>
                                <select class="form-control" id="color" style="width: 126px;" th:field="*{color}">
                                    <option th:each="color : ${colors}"
                                            th:value="${color.getValue()}"
                                            th:text="${color.getValue()}">
                                    </option>
                                </select>
                                <div/>

                                <div class="form-group">
                                    <label for="types">Type :</label>
                                    <select class="form-control" id="types" style="width: 70px;" th:field="*{size}">
                                        <option th:each="size : ${sizes}"
                                                th:value="${size.getValue()}"
                                                th:text="${size.getValue()}">
                                        </option>
                                    </select>
                                    <div/>

                                    <h4 class="price">Sex: <span th:text="${thing.getSex()}"></span></h4>
                                    <h4 class="price">Type: <span th:text="${thing.getType()}"></span></h4>
                                    <h4 class="price">BrandName: <span th:text="${thing.getBrandName()}"></span></h4>
                                    <div class="action">
                                        <button class="add-to-cart btn btn-default" type="submit">add to cart</button>
                                    </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
