.box {
    width: 280px;
    margin: 25px 10px 40px;
    padding: 5px 20px;
    background: #eee;
}

.box .text {
    max-height: 80px;
    overflow: hidden;
}

.box.active .text { max-height: 100%; }

.btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    background: #a5e6b3;
    cursor: pointer;
}