<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>New Image</title>
</head>
<body>

<div layout:fragment="admin_content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New image</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{'/admin/clothes/images/add/' + ${id}}" th:object="${image}"
                          method="post">
                        <div class="form-group">
                            <label for="url">Image url</label>
                            <input type="text" class="form-control" id="url" aria-describedby="url"
                                   placeholder="Enter url" th:field="*{url}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
