<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Transaction</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Transaction</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/transactions/create}" th:object="${transaction}" method="post">
<!--                        <div class="form-group">-->
<!--                            <label for="amount">Amount</label>-->
<!--                            <input type="number" class="form-control" id="amount" aria-describedby="balance"-->
<!--                                   placeholder="Enter balance" th:field="*{amount}">-->
<!--                        </div>-->
                        <div class="form-group">
                            <!--                            <label for="balance1">Balance</label>-->
                            <h3>Balance:</h3>
<!--                            <div>-->
                                <label for="hryvnas">гривны : </label>
                                <input type="number" class="form-control" id="hryvnas" aria-describedby="hryvnas"
                                       placeholder="Enter hryvnas" th:field="*{hryvnas}">
                                <label for="penny">копейки : </label>
                                <input type="number" class="form-control" id="penny" aria-describedby="penny"
                                       placeholder="Enter penny" th:field="*{penny}">
<!--                            </div>-->
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" th:field="*{categoryName}">
                                <option th:each="category : ${categories}"
                                        th:value="${category}"
                                        th:text="${category}">
                                </option>
                            </select>
                            <div/>

                            <button type="submit" class="btn btn-primary">Create Transaction</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
