<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="UTF-8">
    <title>Clothes</title>
    <link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="open_content">

    <div class="mt-4" style="">
        <h2 class=" d-flex justify-content-center" style="color: brown">No matching items</h2>
        <p class=" d-flex justify-content-center" style="color: brown">(Try changing the settings)</p>
    </div>
</div>

</body>
</html>