<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="UTF-8">
    <title>Clothes</title>
    <link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="open_content">

    <div class="row mt-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" th:each="thing : ${clothes}">
            <div class="mt-4">
                <div class="card" style="width: 18rem; height: 600px">
                    <div class="card-body">
                        <a  th:href="@{'/clothes/product/' + ${thing.getId()}}">
                            <img th:src="${thing.getImages().get(0).getUrl()}" class="img-fluid rounded-start" alt="...">
                        </a>
                        <h5 class="card-title" th:text="${thing.getTitle()}"></h5>
                        <p class="card-text" th:text="${thing.getStringPrice()} + ' грн.'"></p>
                        <a th:onclick="|insertParam('brand', ${thing.getBrand().getId()})|" style="text-decoration: none;color: cornflowerblue;">
                            <p class="card-text" th:text="${thing.getBrandName()}"></p>
                        </a>
                        <a class="btn btn-primary" th:href="@{/login}" th:disabled="${!thing.getVisible()}">add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>