<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>countries</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="country,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${country.getNameOfCountry()}"></td>
        <td th:text="${country.getISO()}"></td>
        <td th:text="${country.getPeopleCount()}"></td>
        <td>
            <a th:href="@{'/countries/details/' + ${country.getId()}}" type="button" class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/countries/delete/' + ${country.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>

</div>

</body>
</html>