@import url('https://fonts.googleapis.com/css?family=Numans');

html,body {
    background: url('https://inbusiness.kz/images/small/37/images/YVPsqWX6.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

a.nav-item.nav-link {
    color: white;
}

.sort {
    cursor: pointer;
    margin-right: 2em;
}

input, textarea {
    display: inline-block;
}

.incomeMinus {
    color: red;
}

.incomePlus {
    color: green;
}