<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/button.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div layout:fragment="content">
        <div sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <div sec:authorize="hasRole('ROLE_PERSONAL')">
                <nav class="navbar navbar-dark bg-dark">

                    <div class="hamburger-menu">
                        <input id="menu__toggle" type="checkbox"/>
                        <label class="menu__btn" for="menu__toggle">
                            <span></span>
                        </label>
                        <ul class="menu__box">
                            <li><a class="menu__item" th:href="@{clothes + '?sex=0'}">Male</a></li>
                            <li><a class="menu__item" th:href="@{clothes + '?sex=1'}">Female</a></li>
                            <li><a class="menu__item"></a></li>
                            <li><a class="menu__item" th:href="@{/personal/main}">Home</a></li>
                            <li><a class="menu__item" th:href="@{/personal/about}">About</a></li>
                            <li><a class="menu__item" th:href="@{/personal/contacts}">Contacts</a></li>
                            <li><a class="menu__item"></a></li>
                            <li><a class="menu__item" onclick="document.forms['logoutForm'].submit()">Logout</a></li>
                        </ul>
                    </div>

                    <a class="nav-item nav-link" th:href="@{/personal/dashboard}">Profile</a>
                    <form class="d-flex" method="post" th:action="@{/personal/clothes/search}">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               id="clothesNamed" style="width: 600px" th:name="query">
                        <button class="btn btn-outline-success mt-1" type="submit" style="height: 41px">Search</button>
                    </form>
                    <a class="nav-item nav-link" th:href="@{/personal/clothes/bucket}" th:text="Basket">
                    </a>

                    <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()"
                       style="cursor: pointer !important;">Logout</a>

                    <p>
                        <a class="btn btn-dark mt-2" data-bs-toggle="collapse" href="#collapseExample" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            <img src="https://ouch-cdn2.icons8.com/3EQlf0y27jWtIZpDrxVA1Zndx4fS7z7YEcS6TIIjNng/rs:fit:256:248/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDMy/LzkyMjQzODM0LWU4/OTEtNDc1Ni05Yzg5/LTg4MWIyNmNlOTc3/MC5zdmc.png"
                                 style="width: 20px; height: 20px">
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample" style="background: black">
                        <div class="card card-body"
                             style="background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
                            <div class="form-group" style="display: inline-block;">
                                <div class="container">
                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="dropdown block" style="margin-right: 100px;">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Choose Brand
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <ul th:each="brand : ${brands}">
                                                    <li><a class="dropdown-item" th:text="${brand.getValue()}"
                                                           th:onclick="|insertParam('brand', ${brand.getKey()})|"></a>
                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>

                                        <div class="dropdown block" style="margin-right: 100px;">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Choose Type
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <ul th:each="type : ${types}">
                                                    <li><a class="dropdown-item" th:text="${type.getValue()}"
                                                           th:onclick="|insertParam('type', ${type.getKey()})|"></a>
                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>

                                        <div class="dropdown block" style="margin-right: 100px;">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Choose Color
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <ul th:each="color : ${colors}">
                                                    <li><a class="dropdown-item" th:text="${color.getValue()}"
                                                           th:onclick="|insertParam('color', ${color.getKey()})|"></a>
                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>

                                        <div class="dropdown block" style="margin-right: 100px;">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Choose Size
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <ul th:each="size : ${sizes}">
                                                    <li><a class="dropdown-item" th:text="${size.getValue()}"
                                                           th:onclick="|insertParam('clothes_size', ${size.getKey()})|"></a>
                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>

                                        <button style="width: 200px; height: 40px; background: #6c757d; margin-right: 100px">
                                            <th th:each="columnHeader : ${headerDataList}">
                                                <th:block th:if="${columnHeader.isSortable()}">
                                                    <th:block th:if="${columnHeader.isActive()}">
                                                <span th:text="${columnHeader.getHeaderName()}"
                                                      style="color: white; width: 300px"></span>
                                                        <!--                                            <a th:text="${columnHeader.getHeaderName()}"></a>-->
                                                        <i th:if="${columnHeader.getOrder().equals('desc')}"
                                                           class="fa fa-sort-desc float-right sort" aria-hidden="true"
                                                           th:data-sort="${columnHeader.getSort()}"
                                                           th:data-order="${columnHeader.getOrder()}"
                                                           onclick="runSort(this.getAttribute('data-sort'), this.getAttribute('data-order'))"
                                                           style="color: white"></i>
                                                        <i th:if="${columnHeader.getOrder().equals('asc')}"
                                                           class="fa fa-sort-asc float-right sort" aria-hidden="true"
                                                           th:data-sort="${columnHeader.getSort()}"
                                                           th:data-order="${columnHeader.getOrder()}"
                                                           onclick="runSort(this.getAttribute('data-sort'), this.getAttribute('data-order'))"
                                                           style="color: white"></i>
                                                    </th:block>
                                                    <th:block th:unless="${columnHeader.isActive()}">
                                                        <span th:text="${columnHeader.getHeaderName()}"
                                                              style="color: white"></span>
                                                        <i class="fa fa-sort float-right sort" aria-hidden="true"
                                                           style="color: white"
                                                           th:data-sort="${columnHeader.getSort()}"
                                                           th:data-order="${columnHeader.getOrder()}"
                                                           onclick="runSort(this.getAttribute('data-sort'), this.getAttribute('data-order'))"></i>
                                                    </th:block>
                                                </th:block>

                                                <span th:unless="${columnHeader.isSortable()}"
                                                      th:text="${columnHeader.getHeaderName()}"
                                                      style="color: white"></span>
                                            </th>
                                        </button>

                                        <div>
                                            <a class="page-link btn btn-secondary mb-3" href="#"
                                               onclick="deleteParams(1, 8, 0)" title="Reset Page"
                                               style="background: #6c757d;">
                                                <img src="https://cdn-icons-png.flaticon.com/512/1483/1483063.png"
                                                     style="background: #6c757d; width: 30px;">
                                            </a>
                                        </div>
                                        <div/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                </nav>
            </div>

            <div class="row" th:if="${showMessage}">
                <div class="col">
                    <div th:if="${message}" class="alert alert-primary alert-dismissible fade show" role="alert">
                        <span th:text="${message}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${errorMessage}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${warnMessage}" class="alert alert-dark alert-dismissible fade show" role="alert">
                        <span th:text="${warnMessage}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <section layout:fragment="personal_auth_content"></section>
        </div>
    </div>
</div>
</body>
</html>