<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/personal_layout}">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link href="/css/bucket.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="personal_content">
        <div class="shopping-cart">
            <div class="title">
                Shopping Bag
            </div>

            <ul th:each="product : ${products}">
                <div class="item">

                    <div class="image">
                        <img th:src="${product.getImages().getUrl()}" style="height: 90px; width: 80px" alt=""/>
                    </div>

                    <div class="description">
                        <a th:href="'/personal/clothes/product/' + ${product.getId()}" style="text-decoration: none;color: cornflowerblue;">
                            <span th:text="${product.getTitle()}"></span>
                            <span th:text="${product.getSize()}"></span>
                            <span th:text="${product.getColor()}"></span>
                        </a>
                    </div>

                    <div class="quantity">
                        <td>Quantity: </td>
                        <div>
                            <a th:href="@{'/personal/clothes/product/minus/' + ${product.getId()}}">
                                <img src="https://image.flaticon.com/icons/png/512/56/56889.png" style="width: 6px">
                            </a>
                            <input type="text" name="name" th:value="${product.getCount()}">
                            <a th:href="@{'/personal/clothes/product/plus/' + ${product.getId()}}">
                                <img src="https://pngimg.com/uploads/plus/small/plus_PNG110.png" style="width: 10px">
                            </a>
                        </div>
                    </div>

                    <div class="total-price" th:text="${product.getPrice()} + ' грн'"></div>
                    <div class="mt-4">
                        <a th:href="@{'/personal/clothes/product/delete/' + ${product.getId()}}" type="button" class="btn btn-danger">delete</a>
                    </div>
                </div>
            </ul>
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                <div class="total-price" th:text="'Total price : ' + ${totalPrice} + ' грн'"></div>
                <a type="button" class="btn btn-warning btn-block btn-lg ml-4 pay-button" style="margin-left: 300px;" th:disabled="${products.size() == 0}">Proceed to Pay</a>
            </div>
        </div>
    <div/>
    <th:block layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/bucket.js}"></script>
    </th:block>
</body>
</html>