<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>Update Brand</title>
</head>
<body>

<div layout:fragment="admin_content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Update Person</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{'/admin/brands/update/' + ${id}}" th:object="${brand}" method="post">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name"
                                   placeholder="Enter name" th:field="*{name}">
                        </div>

                        <div class="form-group">
                            <label for="logoUrl">Logo Url</label>
                            <input type="text" class="form-control" id="logoUrl" aria-describedby="logoUrl"
                                   placeholder="Enter Logo Url" th:field="*{logoUrl}">
                        </div>

                        <button type="submit" class="btn btn-primary">Update Brand</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
