<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Author details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Author details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <td th:text="${author.getId()}"></td>
                        </tr>
                        <tr>
                            <th>First name</th>
                            <td th:text="${author.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>Last name</th>
                            <td th:text="${author.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td th:text="${#calendars.format(author.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td th:text="${#calendars.format(author.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>All books</th>
                            <td>
                                <ul th:each="book : ${books}">
                                    <li>
<!--                                        <a role="button" class="btn btn-link disabled" th:href="@{'/books/details/' + ${book.getKey()}}" th:text="${book.getValue()}">details</a>-->
                                        <a role="button" class="btn btn-link" th:href="@{'/books/details/' + ${book.getKey()}}" th:text="${book.getValue()}">details</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
