<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>User details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header d-flex justify-content-start h3">
                    User details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <td th:text="${user.getId()}"></td>
                        </tr>
                        <tr>
                            <th>First name</th>
                            <td th:text="${user.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>Last name</th>
                            <td th:text="${user.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td th:text="${user.getAge()}"></td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td th:text="${user.getCity()}"></td>
                        </tr>
                        <tr>
                            <th>Passport ID</th>
                            <td th:text="${user.getPassportID()}"></td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td th:text="${user.getEmail()}"></td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td th:text="${#calendars.format(user.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td th:text="${#calendars.format(user.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>All accounts</th>
                            <td>
                                <ul th:each="account : ${accounts}">
                                    <li>
                                        <a role="button" class="btn btn-link"
                                           th:href="@{'/accounts/details/' + ${account.getKey()}}"
                                           th:text="${account.getValue()}">details</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div class="col-12">
                        <div class="card mt-2 mb-2">
                            <div class="card-header">
                                <a type="button" class="btn btn-primary"
                                   th:href="@{'/users/newAccount/' + ${user.getId()}}">Add new Account</a>
                                <a type="button" class="btn btn-primary"
                                   th:href="@{'/users/toRemove/' + ${user.getId()}}">Delete Account</a>
                                <a type="button" class="btn btn-primary"
                                   th:href="@{'/transactions/allByUser/' + ${user.getId()}}">Show all Transactions</a>
                                <a type="button" class="btn btn-primary"
                                   th:href="@{'/users/toUpdate/' + ${user.getId()}}">Update User</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
