<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Category</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Category</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/categories/create}" th:object="${category}" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name"
                                   placeholder="Enter name" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="finances">Finance</label>
                            <select class="form-control" id="finances" th:field="*{finances}">
                                <option th:each="finance : ${booleans}"
                                        th:value="${finance}"
                                        th:text="${finance}">
                                </option>
                            </select>
                            <div/>
                            <button type="submit" class="btn btn-primary">Create Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
